@font-face {
  font-family: "Proxima Regular";
  src: url("../fonts/proxima/ProximaNova-Regular.eot");
  src: url("../fonts/proxima/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima/ProximaNova-Regular.woff") format("woff"), url("../fonts/proxima/ProximaNova-Regular.ttf") format("truetype"), url("../fonts/proxima/ProximaNova-Regular.svg#Proxima Regular") format("svg");
  font-style: normal;
  font-weight: normal;
}
/* line 20, ../sass/pegasusCalendar.scss */
.pegasus-cal {
  font-family: "Proxima Regular";
  max-width: 480px;
  width: 100%;
  font-size: 12px;
  /*@include border-radius(4px 4px 3px 3px);*/
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  overflow: hidden;
  display: none;
  z-index: 99999;
  position: absolute;
  background: #fff;
}
/* line 32, ../sass/pegasusCalendar.scss */
.pegasus-cal .cal-head {
  background: #3F4044;
  color: #fff;
  overflow: hidden;
  line-height: 40px;
  padding: 0 10px;
}
/* line 38, ../sass/pegasusCalendar.scss */
.pegasus-cal .cal-head .head-left {
  text-transform: uppercase;
  float: left;
  font-size: 10px;
  margin: 0 0 0 -15px;
}
/* line 43, ../sass/pegasusCalendar.scss */
.pegasus-cal .cal-head .head-left label {
  float: left;
  cursor: pointer;
}
/* line 46, ../sass/pegasusCalendar.scss */
.pegasus-cal .cal-head .head-left label.active {
  color: #0BB8DC;
}
/* line 51, ../sass/pegasusCalendar.scss */
.pegasus-cal .cal-head .head-right {
  float: right;
  height: 40px;
  /*overflow: hidden;*/
  text-align: right;
  -moz-transition: all 0.25s ease-in-out 0s;
  -o-transition: all 0.25s ease-in-out 0s;
  -webkit-transition: all 0.25s ease-in-out;
  -webkit-transition-delay: 0s;
  transition: all 0.25s ease-in-out 0s;
}
/* line 57, ../sass/pegasusCalendar.scss */
.pegasus-cal .cal-head .head-right.show-return {
  margin-top: -40px;
}
/* line 61, ../sass/pegasusCalendar.scss */
.pegasus-cal .cal-head input[type="radio"] {
  float: left;
  margin: 14px 4px 0 15px;
}
/* line 66, ../sass/pegasusCalendar.scss */
.pegasus-cal .cal-body {
  overflow: hidden;
}
/* line 69, ../sass/pegasusCalendar.scss */
.pegasus-cal .body-left {
  width: 23%;
  float: left;
  background: #EDEDED;
  /*padding: 2px 0;*/
}
/* line 75, ../sass/pegasusCalendar.scss */
.pegasus-cal .body-right {
  float: left;
  width: 77%;
}
/* line 79, ../sass/pegasusCalendar.scss */
.pegasus-cal ul.month-list {
  color: #000;
  position: relative;
  overflow: hidden;
}
/* line 83, ../sass/pegasusCalendar.scss */
.pegasus-cal ul.month-list li {
  line-height: 28px;
  position: relative;
  z-index: 3;
  /*            &.active{
              }*/
}
/* line 87, ../sass/pegasusCalendar.scss */
.pegasus-cal ul.month-list li a {
  padding: 0 0 0 12px;
  display: block;
  -moz-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  -webkit-transition: all 0.2s ease;
  -webkit-transition-delay: 0s;
  transition: all 0.2s ease 0s;
}
/* line 91, ../sass/pegasusCalendar.scss */
.pegasus-cal ul.month-list li a:hover {
  /*                    background: darken($color-grey-bg , 10%);
                      font-size: 110%;*/
}
/* line 96, ../sass/pegasusCalendar.scss */
.pegasus-cal ul.month-list li small {
  color: #868686;
  font-size: 85%;
  margin-left: 10px;
}
/* line 103, ../sass/pegasusCalendar.scss */
.pegasus-cal ul.month-list li.active-mark {
  background: #fff;
  border-left: 3px solid #FF9334;
  left: 0;
  position: absolute;
  z-index: 2;
  top: 0%;
  height: 28px;
  width: 100%;
  /*@include transition(all 0.15s linear 0s);*/
}
/* line 117, ../sass/pegasusCalendar.scss */
.pegasus-cal .days-head {
  text-transform: uppercase;
  width: 97%;
  text-align: center;
  line-height: 35px;
  font-weight: bold;
  color: #7F7F7F;
  margin-right: 24px;
  table-layout: fixed;
}
/* line 128, ../sass/pegasusCalendar.scss */
.pegasus-cal .month-wrapper {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 302px;
}
/* line 132, ../sass/pegasusCalendar.scss */
.pegasus-cal .month-wrapper .month-box {
  position: relative;
  /*padding: 0 0 10px 0;*/
}
/* line 135, ../sass/pegasusCalendar.scss */
.pegasus-cal .month-wrapper .month-box .month-title {
  padding: 0 0 5px 0;
  border-bottom: 2px solid #e1e1e1;
  font-size: 15px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}
/* line 148, ../sass/pegasusCalendar.scss */
.pegasus-cal .day-container.adjust-month {
  padding: 40px 0 0 0;
}
/* line 152, ../sass/pegasusCalendar.scss */
.pegasus-cal .day-container-table {
  width: 100%;
  table-layout: fixed;
  text-align: center;
  font-size: 15px;
}
/* line 157, ../sass/pegasusCalendar.scss */
.pegasus-cal .day-container-table tr {
  height: 50px;
}
/* line 160, ../sass/pegasusCalendar.scss */
.pegasus-cal .day-container-table td {
  vertical-align: middle;
  /*cursor: pointer;*/
  position: relative;
  /*&.return-daybox {opacity: 0.3; background: red;}*/
}
/* line 164, ../sass/pegasusCalendar.scss */
.pegasus-cal .day-container-table td a {
  display: block;
  height: 50px;
}
/* line 168, ../sass/pegasusCalendar.scss */
.pegasus-cal .day-container-table td .day-num {
  display: block;
  padding: 12px 0 4px;
}
/* line 172, ../sass/pegasusCalendar.scss */
.pegasus-cal .day-container-table td.mid-daybox {
  background-color: #e6fbff;
}
/* line 175, ../sass/pegasusCalendar.scss */
.pegasus-cal .day-container-table td .price {
  color: gray;
  font-size: 75%;
  display: block;
}
/* line 179, ../sass/pegasusCalendar.scss */
.pegasus-cal .day-container-table td .price.lowestPrice {
  color: #00a600;
}
/* line 183, ../sass/pegasusCalendar.scss */
.pegasus-cal .day-container-table td:hover {
  background-color: #ccf7ff;
}
/* line 185, ../sass/pegasusCalendar.scss */
.pegasus-cal .day-container-table td:hover p.holiday-desc {
  display: block;
}
/* line 189, ../sass/pegasusCalendar.scss */
.pegasus-cal .day-container-table td.disabled, .pegasus-cal .day-container-table td.inActiveTD {
  color: #bababa;
  background-color: #fff;
}
/* line 192, ../sass/pegasusCalendar.scss */
.pegasus-cal .day-container-table td.disabled a, .pegasus-cal .day-container-table td.inActiveTD a {
  cursor: default;
}
/* line 196, ../sass/pegasusCalendar.scss */
.pegasus-cal .day-container-table td.return-daybox, .pegasus-cal .day-container-table td.depart-daybox {
  background-color: #00b5d3;
  color: #fff;
}
/* line 199, ../sass/pegasusCalendar.scss */
.pegasus-cal .day-container-table td.return-daybox .price, .pegasus-cal .day-container-table td.depart-daybox .price {
  color: #fff;
}
/* line 205, ../sass/pegasusCalendar.scss */
.pegasus-cal .day-container-table i.holiday-ico {
  background: #f5951d;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 5px;
  right: 7px;
  top: 7px;
  width: 5px;
  position: absolute;
}
/* line 214, ../sass/pegasusCalendar.scss */
.pegasus-cal .day-container-table p.holiday-desc {
  display: none;
  background: #333;
  border: 1px solid #333;
  border-radius: 3px;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.1);
  color: #fff;
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
  min-width: 100px;
  padding: 5px 10px;
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  z-index: 9;
  margin: -30px 0 0 -36px;
  top: 0%;
  left: 0%;
  cursor: default;
}
/* line 215, ../sass/pegasusCalendar.scss */
.pegasus-cal .day-container-table p.holiday-desc:after {
  border-color: #333 transparent transparent;
  border-style: solid;
  border-width: 10px;
  content: "";
  height: 0;
  left: 50px;
  position: absolute;
  top: 29px;
  width: 0;
}
/* line 248, ../sass/pegasusCalendar.scss */
.pegasus-cal .js-month-container {
  position: relative;
}
